<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Use httpPlatformHandler for Node.js on SmarterASP.NET -->
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" />
    </handlers>
    
    <httpPlatform processPath="node" 
                  arguments="server.js" 
                  startupTimeLimit="60" 
                  startupRetryCount="3" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\App_Data\log.txt">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="DB_TYPE" value="mssql" />
        <environmentVariable name="MSSQL_SERVER" value="YOUR_DB_SERVER_IP_OR_HOST" />
        <environmentVariable name="MSSQL_DATABASE" value="YOUR_DB_NAME" />
        <environmentVariable name="MSSQL_USER" value="YOUR_DB_USER" />
        <environmentVariable name="MSSQL_PASSWORD" value="YOUR_DB_PASSWORD" />
      </environmentVariables>
    </httpPlatform>

    <!-- Disable directory listing for security -->
    <directoryBrowse enabled="false" />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses from Express are left untouched by IIS -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
